<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar Tarefa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>Cadastrar Nova Tarefa</h1>
    <form method="POST">
      <label for="nome" class="cadastro-form-items">Nome da Tarefa:</label>
      <input type="text" id="nome" name="nome" class="cadastro-form-items" required />

      <label for="custo" class="cadastro-form-items">Custo (R$):</label>
      <input type="number" id="custo" name="custo" step="0.01" class="cadastro-form-items" required />

      <label for="data_limite" class="cadastro-form-items">Data Limite:</label>
      <input type="date" id="data_limite" name="data_limite" placeholder="dd/mm/aaaa" class="cadastro-form-items" required />
      <button type="submit" class="btn-cadastro cadastro-form-items">Incluir Tarefa</button>
    </form>
    <button class="back-button btn-cadastro">
      <a href="{{ url_for('index') }}" class="a-link">Voltar</a>
    </button>
  </body>
</html>
